examples/RosesCourseConversion/RosesSCORM2004Converted/Shared/resources.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="resourceType">
		<xs:attribute name="desc" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=">Extensible Markup Language (XML) 1.0 (Second Edition)"/>
					<xs:enumeration value=">The W3C XML Schema Main Page"/>
					<xs:enumeration value=">World Wide Web Consortium (W3C)"/>
					<xs:enumeration value=">XML Schema Part 0: Primer"/>
					<xs:enumeration value=">XML Schema Part 1: Structures"/>
					<xs:enumeration value=">XML Schema Part 2: Datatypes"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="url" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:anyURI">
					<xs:enumeration value="http://www.w3.org"/>
					<xs:enumeration value="http://www.w3.org/TR/2000/REC-xml-20001006"/>
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-0"/>
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-1"/>
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-2"/>
					<xs:enumeration value="http://www.w3.org/XML/Schema"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="resources">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resource" type="resourceType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
